#nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: rgba(83, 28, 223, 0.435);
    color: white;
    font-family: sans-serif;
    li {
        list-style: none;
        display: inline-block;
        margin: 10px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    height: 10%;
}

#nav-icon {
    margin-top: 200px;
    font-size: 1.2em;
}

.nav-element {
    display: flex;
}