<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    codeial / Profile page
</h1>

<!-- <p>
    <%=user.name%>
</p>

<p>
    <%= user.email%>
</p> -->

<p>
    <%= profile_user.name%>
</p>
<p>
    <%=profile_user.email%>
</p>


<%if(user.id == profile_user.id){%>
    <!-- if matches then show the update -->
    <form action="/"></form>
    <%} else {%>
        <!-- else show only profile page -->
        <a href="/users/sign-out">
            <button type="submit">Sign Out</button>
        </a>